@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Cal+Sans&family=Tagesschrift&display=swap');
main {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background: linear-gradient(135deg, #272794, #121547); 
}


.login-container {
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: min(20%, 450px);
    height: min(100%, 350px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;    
    align-items: center;
}

.login-container h1 {
    padding-top: 2%;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;    
    font-weight: 700;    
}

form {
    padding-top: 15%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    background-color: #272794;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.login-container button:hover {
    background-color: #1c1c77;
    transform: scale(1.05);
}