{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'a_usuarios/css/login.css' %}">
{% endblock %}

{% block content%}
    <div class="login-container">
        <h1>FAÇA SEU LOGIN</h1>
        
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nome de usuário" required />
            <input type="password" name="password" placeholder="Senha" required />
            <button type="submit">Entrar</button>
        </form>
        {% if message %}
            <span>{{ message }}</span>
        {% endif %}
    </div>
{% endblock %}