{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título da Página{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'all/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'all/css/navbar.css'%}">
    {% block extra_styles %}   
    {% endblock %}    
</head>
<body>
    <header>        
        {% block navbar %}
        {% endblock %}
    </header>

    <main>
        {% block content %}        
        {% endblock %}
    </main>

    <script src="https://unpkg.com/htmx.org"></script>
    {% block extra_scripts %}
    {% endblock %}

</body>
</html>