{% load static %}

<nav class="navbar">
    <div class="navbar-left">
        <img src="{% static 'all\src\logo.png' %}" class="logo" alt="Logo"/>     
        <a href="{% url 'home' %}" class="navbar-title">Tripoloni Construtora</a>
    </div>
    {% if not request.user.is_authenticated %}
    <a href="{% url 'login' %}" class="login-button"></a>
    {% else %}
        {% if request.user.is_staff %}
            <a href="/admin" class="admin-button"></a>
        {% endif %}
        <a href="{% url 'logout' %}" class="logout-button"></a>
    {% endif %}
</nav>
