<dialog {{ open }}>
    <div class="top">
        <button hx-get="{% url 'add_ramal' open_status=False %}" hx-target="dialog" hx-swap="outerHTML" class="button_close"></button>
    </div>
    <form method="post">
        <div class="main">        
            {% csrf_token %}        
        </div>
        <div class="bottom">            
            <button hx-get="{% url 'add_ramal' open_status=False %}" hx-target="dialog" hx-swap="outerHTML" class="button_cancel">CANCELAR</button>
            <button hx-post="{% url 'add_ramal' open_status=False %}" hx-target="dialog" hx-swap="outerHTML" class="button_save">SALVAR</button>
        </div>
    </form>
    
</dialog>