{% load static %}

<style>
    .cabecalho {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
    
    .image {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px; 
        height: 50px; 
        margin: 0 auto 20px auto;
        display: block; 
    }

    .titulo {
        font-family: serif;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .tabela {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        font-size: 13px;
        border: 1px solid #000;
        border-collapse: collapse;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background-color: #333;
        color: white;
    }

    th, td {
        border: 1px solid #999;
        padding: 4px 8px;
        text-align: left;
    }

    th {
        font-weight: bold;
    }

    tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tbody tr:nth-child(even) {
        background-color: #fff;
    }

</style>


<div class="cabecalho">
    <img src="{% static 'all/src/logo_preto.png' %}" class="image">
    <div class="titulo">LISTA DE RAMAIS - TRIPOLONI CONSTRUTORA</div>
</div>

<div class="tabela">
    <table>
        <thead>
            <tr>  
                <th>Setor</th>  
                <th>Nome Completo</th>
                <th>Ramal</th>
                <th>Email</th>                
            </tr>
        </thead>
        <tbody>
            {% for r in ramais %}
                {% if r.ramal and r.ramal|cut:" " %}
                <tr>
                    <td>{{ r.setor }}</td>         
                    <td>{{ r.nome_completo }}</td>
                    <td>{{ r.ramal }}</td>
                    <td>{{ r.email }}</td>                               
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="image"></div>