<div class="tabela">
    <table>
        <thead>
            <tr>  
                <th hx-get="{% url 'lista_ramal' %}?order_by=nome_completo"  hx-target="body" hx-swap="outerHTML" hx-trigger="click">Nome Completo</th>
                <th hx-get="{% url 'lista_ramal' %}?order_by=ramal"  hx-target="body" hx-swap="outerHTML" hx-trigger="click">Ramal</th>
                <th hx-get="{% url 'lista_ramal' %}?order_by=email"  hx-target="body" hx-swap="outerHTML" hx-trigger="click">Email</>
                <th hx-get="{% url 'lista_ramal' %}?order_by=setor"  hx-target="body" hx-swap="outerHTML" hx-trigger="click">Setor</th>
                <th hx-get="{% url 'lista_ramal' %}?order_by=obra"  hx-target="body" hx-swap="outerHTML" hx-trigger="click">Obra</th>
                {% if request.user.is_staff %}
                    <th hx-get="{% url 'lista_ramal' %}?order_by=nome_usuario"  hx-target="body" hx-swap="outerHTML" hx-trigger="click">Nome de Usuário</th>
                    <th hx-get="{% url 'lista_ramal' %}?order_by=anydesk"  hx-target="body" hx-swap="outerHTML" hx-trigger="click">Anydesk</th>
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for r in ramais %}                
                <tr>
                    <td>{{ r.nome_completo }}</td>
                    <td>{{ r.ramal }}</td>
                    <td>{{ r.email }}</td>
                    <td>{{ r.setor }}</td>
                    <td>{{ r.obra }}</td>
                    {% if request.user.is_staff %}
                        <td>{{ r.nome_usuario}}</td>
                        {% if r.anydesk %}
                        <td class="td_anydesk" hx-get="{% url 'conecta_anydesk' r.anydesk %}"></td>
                        {% else %}
                        <td >{{ r.anydesk }}</td>                            
                        {% endif %}
                        <td hx-get="{% url 'edit_ramal' open_status='True' ramal_id=r.id %}" hx-target="dialog" hx-swap="outerHTML" class="edit"></td>
                    {% endif %}
                </tr>                                
            {% endfor %}
        </tbody>
    </table>
</div>