{% extends "partials/base.html" %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block extra_styles%}
    <link rel="stylesheet" href="{% static 'a_home/css/home.css' %}">
{% endblock %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock %}

{% block content %} 
    {% for key, app in apps.items %}             
        {% if app.permissions|default:False %}
            {% include "partials/apps.html" with url=app.url filtro=app.filtro img=app.img name_app=app.name_app %}
        {% endif %}        

    {% endfor %}
{% endblock %}
